<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Triplek
    </h1>
    <ol class="breadcrumb">
      <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Triplek</li>
    </ol>
    <% if(alert.message != '') { %>
    <br>
    <div class="alert alert-<%= alert.status %>" style="text-align: center;">
      <strong><%= alert.message %></strong>
    </div>
    <% } %>
  </section>


  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <th style="width: 50%;">Data Triplek</th>
            <th class="box-title" style="margin-left: 80%;">
              <!-- <button class="btn btn-success">Tambah</button> -->
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-modal">
                Tambah
              </button>
            </th>
          </div>

          <div class="box-body" style="height: 370px; overflow-y: scroll; overflow-x: scroll;">

            <div class="table-wrapper content">
              <table id="triplek" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Satuan</th>
                    <th>Harga</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
            </div>
            <div class="table-body-wrapper" style="position: relative; overflow: visible;">
              <tbody>
                <% for (let i = 0; i < triplek.length; i++ ) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= triplek[i].nama %></td>
                  <td>
                    <%= triplek[i].Satuan.nama_satuan %></td>
                  <td><%= triplek[i].harga %></td>
                  <td style="width: 150px;">
                    <a href="javascript:void(0);" type="button" class="btn btn-warning btn-sm edit"
                      data-id="<%= triplek[i].id %>" data-nama="<%= triplek[i].nama %>"
                      data-panjang="<%= triplek[i].panjang %>" data-lebar="<%= triplek[i].lebar %>"
                      data-tebal="<%= triplek[i].tebal %>" data-SatuanId="<%= triplek[i].SatuanId %>"
                      data-harga="<%= triplek[i].harga %>"> <span class="glyphicon glyphicon-pencil"></span>
                      Edit</a>

                    </a>
                    <button class="btn btn-danger btn-sm" onclick="delete_triplek(`<%= triplek[i].id %>`)"
                      data-id="<%= triplek[i].id %>">
                      <span class="glyphicon glyphicon-remove"></span>
                      Hapus
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </div>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/admin_layout/footer.ejs %>
<%- include add_modal.ejs %>
<%- include edit_modal.ejs %>

<!-- page script -->
<script>

  $(document).ready(function () {
    // datatable
    $('#triplek').DataTable()
    $(document).ready(function () { setTimeout(function () { $(".alert").fadeIn('slow'); }, 1500); });
    // angka 3000 dibawah ini artinya pesan akan hilang dalam 3 detik setelah muncul
    setTimeout(function () { $(".alert").fadeOut('slow'); }, 4000);

    // redirect halaman catalogs
    function successTambah() {
      window.location.replace(window.location.protocol + "//" + window.location.host + '/admin/triplek')
    }
  })

  //showing data to e edit modal 
  $('#triplek').on('click', '.edit', function () {
    var id = $(this).data('id');
    var nama = $(this).data('nama');
    var panjang = $(this).data('panjang');
    var lebar = $(this).data('lebar');
    var tebal = $(this).data('tebal');
    var SatuanId = $(this).data('SatuanId');
    var harga = $(this).data('harga');

    $('#edit-modal').modal('show');
    $('.id').val(id);
    $('.nama').val(nama);
    $('.panjang').val(panjang);
    $('.lebar').val(lebar);
    $('.tebal').val(tebal);
    $('.SatuanId').val(SatuanId);
    $('.harga').val(harga);
  });

  function delete_triplek(id) {
    let TriplekId = id;
    console.log(TriplekId)
    swal({
      title: "Yakin Ingin Menghapus Data Triplek ini?",
      text: "Data yang dihapus, tidak bisa kembali lagi.",
      icon: "warning",
      buttons: true,
      dangerMode: true
    }).then(willDelete => {
      if (willDelete) {
        window.location.assign(`/admin/triplek/delete/${TriplekId}`);
      }
    });
  }

</script>