<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Super User
    </h1>
    <ol class="breadcrumb">
      <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Admin</li>
    </ol>
    <% if(alert.message != '') { %>
    <br>
    <div class="alert alert-<%= alert.status %>" style="text-align: center;">
      <strong><%= alert.message %></strong>
    </div>
    <% } %>
  </section>


  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <th style="width: 50%;">Data Admin User</th>
            <th class="box-title" style="margin-left: 80%;">
              <!-- <button class="btn btn-success">Tambah</button> -->
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-modal">
                Tambah
              </button>
            </th>
          </div>

          <div class="box-body" style="height: 370px; overflow-y: scroll; overflow-x: scroll;">

            <div class="table-wrapper content">
              <table id="user1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Nama</th>
                    <th>email</th>
                    <th>notelp</th>
                  </tr>
                </thead>
            </div>
            <div class="table-body-wrapper" style="position: relative; overflow: visible;">
              <tbody>

                <% for (let i = 0; i < user1.length; i++ ) { %>
                <% let j = i-1;%>
                <% if (user1[i].role == 1) { %>
                <% }else{ %>
                <tr>
                  <td><%= j + 1 %></td>
                  <td>
                    <% if (user1[i].image) { %>
                    <img src="/images/adminprofile/<%= user1[i].image %>" height="40" width="40" alt="foto" />
                    <% } else { %>
                    Tidak Ada
                    <% } %>
                  </td>
                  <td><%= user1[i].name %></td>
                  <td><%= user1[i].email %></td>
                  <td>
                    <%= user1[i].notelp %></td>
                  <td>
                    <span class="pull-right-container">
                      <% if(user1[i].status === 1) { %>
                      <small class="label pull-center bg-green">"Aktif"</small>
                      <% } else { %>
                      <small class="label pull-center bg-yellow">"Non Aktif</small>
                      <% }  %>
                    </span>
                  </td>
                  <td>

                    <% if(user1[i].status === 1) { %>
                    <button class="btn btn-primary btn-sm" onclick="update_status(`<%= user1[i].id %>`)"
                      data-id="<%= user1[i].id %>">
                      <span class="glyphicon glyphicon-user"></span>
                      Nonactive User
                    </button>
                    <% } else { %>
                    <button class="btn btn-warning btn-sm" onclick="update_status(`<%= user1[i].id %>`)"
                      data-id="<%= user1[i].id %>">
                      <span class="glyphicon glyphicon-user"></span>
                      Active User
                    </button>
                    <% } %>
                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </div>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/admin_layout/footer.ejs %>
<%- include add_modal.ejs %>


<!-- page script -->
<script>

  $(document).ready(function () {
    // datatable
    $('#user1').DataTable()
    $(document).ready(function () { setTimeout(function () { $(".alert").fadeIn('slow'); }, 1500); });
    // angka 3000 dibawah ini artinya pesan akan hilang dalam 3 detik setelah muncul
    setTimeout(function () { $(".alert").fadeOut('slow'); }, 4000);

    // redirect halaman catalogs
    function successTambah() {
      window.location.replace(window.location.protocol + "//" + window.location.host + '/admin/superuser')
    }
  })
  // Change Status 
  function update_status(id) {
    let idUser = id
    swal({
      title: "Yakin Ingin Ubah Status?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then(willDelete => {
      if (willDelete) {
        swal({
          title: "Success",
          text: "Success Ubah Status",
          icon: "success",
          buttons: false,
          timer: 2000
        }).then(suksesChange => {
          window.location.assign(`/admin/superuser/status/${idUser}`);
        })
      }
    })
  }


</script>